* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
}

body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "Public Sans", "Sonsie One", sans-serif;
    background-color: #dee1e1;
}

a {
    text-decoration: none;
}
/* Common */
.display-area {
    /* Box Model */
    /* display: block; */
    width: 1140px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
}

.btn {
    /* Variable */
    --min-width-btn: 173px;
    --height-btn: 57px;
    /* Box Model */
    display: inline-block;
    width: var(--min-width-btn);
    height: var(--height-btn);
    border-radius: 99px;
    border: 1.5px solid #143c3c;
    /* color */
    background: var(--primary-color);
    color: #fff;
    /* text */
    font-family: Public Sans, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: var(--height-btn);
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.section-heading {
    /* Color */
    color: #152427;
    /* Text */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.section-title {
    /* Color */
    color: #152427;
    /* Text */
    font-size: 1.6rem;
    font-weight: 500;
}
/* Header */
.header-top {
    /* Box Model */
    margin-top: 8px;
    padding: 20px 0 13px;
    /* Color */
    background-color: #dee1e1;
    display: flex;
    align-items: center;
}

.header-top--sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #dee1e1;
}

.header-top__logo-link {
    display: flex;
}

.header-top__nav {
    /* Box Model */
    margin-left: 386px;
}

.header-top__nav-list {
    display: flex;
}

.header-top__nav-link {
    /* Positioning */
    position: relative;
    /* Box Model */
    padding: 8px 20px;
    /* Color */
    color: #575d5e;
    /* Text */
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

.header-top__nav-link:hover,
.header-top__nav-link--active {
    color: #152427;
    text-shadow: 1px 0 0 currentColor;
}

.header-top__nav-link--active::after {
    /* Positioning */
    position: absolute;
    bottom: 5px;
    left: 20px;
    /* Box model */
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    /* Color */
    background: var(--primary-color);
}

.header-top__signup {
    margin-left: auto;
}

/* Hero */
.header-hero {
    /* Text */
    font-family: "Public Sans", sans-serif;
}
.header-hero__line {
    /* Box Model */
    height: 1px;
    /* Color */
    background: linear-gradient(
        90deg,
        #d5d5d500 0,
        #dddcdc 50%,
        #d5d5d500 100%
    );
}

/* Header Hero */
.header-hero__row {
    /* Positioning */
    position: relative;
    /* Box Model */
    margin-top: 60px;
}

.header-hero__content {
    /* Display & Box Model */
    flex: 0 0 35%;
    max-width: 35%;
}

.header-hero__heading {
    /* Box Model */
    width: 368px;
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 800;
    font-size: 5rem;
    margin-top: 43px;
}

.header-hero__desc {
    /* Box Model */
    margin-top: 20px;
    /* Color */
    color: #575d5e;
    /* Text */
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
}

.header-hero__cta {
    /* Display & Box Model */
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 42px;
}

.header-hero__play-button {
    /* Display & Box Model*/
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 60px;
    padding: 0;
    border: none;
    /* Color */
    color: #152427;
    background-color: transparent;
    /* Text */
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;
    /* Other */
    cursor: pointer;
}

.header-hero__half-circle-border {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 50%;
    /* Color */
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    /* Other */
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}

.header-hero__play-btn {
    /* Box Model */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* Color */
    color: #fff;
    background-color: #83a17d;
    /* Text */
    line-height: 45px;
    /* Other */
    transform: rotate(45deg);
}

.header-hero__play-button:hover {
    /* Color */
    color: #83a17d;
}

.header-hero__play-button:hover .header-hero__half-circle-border {
    /* Color */
    border-color: #83a17d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    /* Other */
    transform: rotate(135deg);
}

.header-hero__play-button:hover .header-hero__play-btn {
    /* Color */
    background-color: var(--primary-color);
    /* Other */
    transform: rotate(-135deg);
}

/* Hero media */
.header-hero__media {
    /* Positioning */
    position: relative;
    /* Display & Box Model */
    flex: 0 0 65%;
    display: flex;
    justify-content: flex-end;
    max-width: 65%;
    padding-right: 20px;
}

.header-hero__bgc-blu {
    z-index: -1;
    position: absolute;
    top: 122px;
    left: 225px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
}

.header-hero__images {
    /* Display */
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.header-hero__img {
    /* Box Model */
    width: 202px;
    height: 466px;
    border-radius: 110px;
    /* Other */
    object-fit: cover;
}

.header-hero__img:nth-child(2) {
    /* Other */
    transform: translateY(77px);
}

/* Hero Decor */
.header-hero__decor {
    /* Positioning */
    position: absolute;
    top: -30px;
    left: -118px;
}
.header-hero__decor:last-child {
    /* Positioning */
    top: 240px;
    left: 108px;
    /* Other */
    transform: rotate(180deg);
}

/* Brands */
.brand {
    margin-top: 205px;
}

.brand__list {
    background: #e2eddf;
    border-radius: 100.5px;
    height: 201px;
    padding: 0 121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Services */
.service {
    margin-top: 106px;
}

.service__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__title {
    margin-left: 46px;
    position: relative;
    line-height: 1.62;
}

.service__title::before {
    left: -46px;
    top: 10px;
    position: absolute;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background-color: #152427;
}

.service__heading {
    position: relative;
    width: 520px;
    height: 104px;
    margin-top: 12px;
}

.service__heading::after {
    right: 86px;
    bottom: 18px;
    display: inline-block;
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background: #152427;
}

.service__control {
    display: flex;
    margin-right: 73px;
    column-gap: 17px;
}

.service__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border: 1px solid #575f66;
    border-radius: 50%;
    color: #152427;
    background: #e2eddf;
    outline: none;
}

.service__control-btn:hover {
    background: #152427;
    color: #fff;
    cursor: pointer;
}

/* Service list */
.service__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    margin-top: 76px;
}

.service-items {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-items__images {
    height: 318px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.service-items__img {
    max-width: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.service-items__img:hover {
    transform: scale(1.1);
}

.service-items__name {
    margin-top: 24px;
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    padding-left: 18px;
}

.service-items__desc {
    width: 268px;
    height: 72px;
    margin: 18px 0 23px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    padding-left: 18px;
}

/* About */
.about {
    margin-top: 150px;
}

.about__row {
    align-items: normal;
    column-gap: 64px;
}

/* About Media */
.about-media {
    /* Positioning */
    position: relative;
    /* Display & Box Model */
    flex: 0 0 52%;
    max-width: 52%;
    height: 570px;
}

.about-media__img {
    /* Positioning */
    position: absolute;
    /* Box Model */
    width: 284px;
    height: 480px;
    border-radius: 210px;
    /* Color */
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    /* Other */
    object-fit: cover;
}

.about-media__img:first-child {
    /* Positioning */
    top: 90px;
    left: 0;
}

.about-media__img:nth-child(2) {
    /* Positioning */
    top: 12px;
    left: 305px;
}

.about-media__decor-img {
    /* Positioning */
    position: absolute;
    top: -33px;
    left: 46px;
    /* Box Model */
    width: 500px;
}

/* About Media Block */
.about-media-block {
    /* Positioning */
    position: absolute;
    top: 417px;
    left: 457px;
    /* Box Model */
    padding: 10px 17px;
    border-radius: 8px;
    width: 143px;
    height: 144px;
    /* Color */
    background-color: #fff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    /* Text */
    font-family: "Public Sans", sans-serif;
}

.about-media-block__title {
    /* Box Model */
    margin-top: 10px;
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 600;
    font-size: 1.4rem;
}

.about-media-block__total {
    /* Box Model */
    margin-top: 6px;
    /* Color */
    color: #575d5e;
    /* Text */
    font-weight: 400;
    font-size: 1rem;
    /* Other */
    opacity: 0.4;
}

.about-media-block__percent {
    /* Box Model */
    margin-top: 10px;
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 500;
    font-size: 1rem;
}

.about-progress-bar {
    margin-top: 3px;
}

.about-progress-bar__valuemax {
    /* Box Model */
    width: 100%;
    height: 2px;
    border-radius: 10px;
    /* Color */
    background-color: #eaeaea;
}

.about-progress-bar__valuenow {
    /* Box Model */
    width: 40%;
    height: 2px;
    border-radius: 10px;
    /* Color */
    background-color: #83a17d;
}

.about-media-block__status {
    /* Box Model */
    margin-top: 3px;
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
}

.about-media-block__circle-decor {
    /* Box Model */
    width: 11px;
    height: 11px;
    padding: 3px;
    border-radius: 50%;
    /* Color */
    background-color: #eaeaea;
}

.about-media-block__circle {
    /* Box Model */
    width: 5px;
    height: 5px;
    border-radius: 50%;
    /* Color */
    background-color: #143c3c;
}

/* About Team */
.about-team {
    /* Display & Box Model */
    display: flex;
    column-gap: 36px;
    align-items: center;
    margin-top: 4px;
}

.about-team__name {
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 500;
    font-size: 1rem;
}

.about-team__avatar-list {
    /* Display & Box Model */
    display: flex;
    align-items: center;
}

.about-team__avatar-item {
    /* Box Model */
    width: 16px;
    height: 16px;
    padding: 1px;
    border-radius: 50%;
    margin-left: -6px;
    /* Color */
    background-color: #fff;
}

.about-team__avatar {
    /* Box Model */
    width: 14px;
    height: 14px;
    border-radius: 50%;
    /* Other */
    object-fit: cover;
}
/* About Content */
.about__content {
    /* Display & Box Model */
    flex: 0 0 48%;
    max-width: 48%;
    height: 570px;
}

.about__title {
    /* Positioning */
    position: relative;
    /* Box Model */
    margin-left: 46px;
}

.about__title::before {
    /* Positioning */
    position: absolute;
    top: 8px;
    left: -46px;
    /* Display & Box Model */
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    /* Color */
    background-color: #152427;
}

.about__heading {
    /* Box Model */
    /* width: 483px; */
    margin-top: 20px;
}

.about__desc {
    /* Box Model */
    margin-top: 12px;
    /* Color */
    color: #7d8188;
    /* Text */
    font-weight: 500;
    line-height: 1.6;
}

.about-sub {
    /* Display & Box Model */
    display: flex;
    column-gap: 31px;
    align-items: center;
    margin-top: 36px;
}

.about-sub__percent {
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 600;
    font-size: 4.2rem;
}

.about-sub__desc {
    /* Color */
    color: #7d8188;
    /* Text */
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
}

.about__line {
    /* Box Model */
    height: 1px;
    margin-top: 20px;
    /* Color */
    background-color: #83a17d;
}

/* Process */
.process {
    margin-top: 79px;
}

.process-body {
    padding-top: 36px;
    position: relative;
}

.process-title {
    position: relative;
    margin-left: 46px;
}

.process-title::before {
    /* Positioning */
    position: absolute;
    top: 8px;
    left: -46px;
    /* Display & Box Model */
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    /* Color */
    background-color: #152427;
}

.process__heading {
    margin-top: 20px;
    flex: 0 0 42%;
    max-width: 42%;
    position: relative;
}

.process__heading::after {
    /* Positioning */
    right: -8px;
    bottom: 18px;
    position: absolute;
    /* Display & Box Model */
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    /* Color */
    background-color: #152427;
}

.process__img {
    /* Positioning */
    position: absolute;
    top: 0;
    right: 92px;
    /* Box Model */
    width: 450px;
    height: 444px;
    /* Other */
    object-fit: cover;
}

/* Process List */
.process-list {
    margin-top: 80px;
}

.process-list__item {
    /* Display & Box Model */
    display: flex;
    align-items: center;
    height: 155px;
    padding: 0 30px;
    border-bottom: 1px solid #83a17d;
    /* Other */
    transition: 0.3s;
}

.process-list__item:first-child {
    /* Box Model */
    height: 185px;
}

.process-list__item:hover {
    /* Box Model */
    border-radius: 30px;
    /* Color */
    background-color: #e2eddf;
    border-color: transparent;
}

.process-list__number {
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
}

.process-list__heading {
    margin-left: 65px;
}

.process-list__item:first-child .process-list__heading {
    /* Box Model */
    margin-left: 81px;
}

.process-list__name {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
}

.process-list__link {
    /* Display & Box Model */
    display: none;
    margin-top: 22px;
    /* Color */
    color: #575d5e;
    /* Text */
    font-weight: 400;
    font-size: 1.8rem;
    text-decoration: underline;
}

.process-list__item:hover .process-list__link {
    /* Display */
    display: block;
}

.process-list__content {
    /* Box Model */
    width: 572px;
    margin-left: 175px;
    /* Color */
    color: #7d8188;
    /* Text */
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
}

.process-list__item:last-child .process-list__content {
    /* Box Model */
    margin-left: 242px;
}

/* Projects */
.project {
    /* Box Model */
    padding-bottom: 65px;
    margin-top: 150px;
    /* Color */
    background-color: var(--primary-color);
}

.project-body {
    /* Positioning */
    position: relative;
}

.project-row {
    /* Display & Box Model */
    justify-content: space-between;
    padding-top: 116px;
}

.project__heading {
    /* Positioning */
    position: relative;
    /* Box Model */
    width: 457px;
    /* Color */
    color: #e7f9f9;
}

.project__heading::before {
    /* Positioning */
    position: absolute;
    bottom: 20px;
    right: 97px;
    /* Display & Box Model */
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    /* Color */
    background-color: #83a17d;
}

.project-content {
    /* Box Model */
    width: 590px;
    /* Text */
    font-family: "Public Sans", sans-serif;
}

.project__desc {
    /* Color */
    color: #6a8383;
    /* Text */
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
}

.project__link {
    /* Box Model */
    display: block;
    margin-top: 12px;
    /* Color */
    color: #fff;
    /* Text */
    font-weight: 500;
    font-size: 1.8rem;
    /* Other */
    transition: 0.3s;
}

.project__link:hover {
    /* Color */
    color: #80a07b;
}

.project__arrow {
    /* Box Model */
    margin-left: 26px;
}

/* Project Media */
.project-media {
    /* Positioning */
    position: relative;
    /* Box Model */
    margin-top: 72px;
}

.project__video {
    /* Box Model */
    width: 100%;
    border-radius: 22px;
}

.project__play-btn {
    /* Positioning */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Box Model */
    width: 118px;
    height: 118px;
    border: none;
    border-radius: 50%;
    margin: auto;
    /* Color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Other */
    cursor: pointer;
    transition: 0.3s;
}

.project__play-btn:hover {
    background-color: #80a07b;
}

/* Project Decor */
.project__decor {
    /* Positioning */
    position: absolute;
    top: 128px;
    right: -65px;
}
.project__decor:last-child {
    top: 220px;
    right: -55px;
}

/* Features */
.feature {
    margin-top: 140px;
    text-align: center;
}

.feature__heading {
    width: 520px;
    margin: auto;
}

.feature__desc {
    /* Box Model */
    width: 547px;
    margin: 20px auto 0;
    /* Color */
    color: #7d8188;
    /* Text */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625;
}

.feature-list {
    display: flex;
    justify-content: space-between;
    margin-top: 103px;
}

.feature-list__item {
    flex: 0 0 31%;
    max-width: 31%;
    height: 362px;
    border-radius: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #cecece;
    /* Other */
    transition: 0.3s;
}

.feature-list__item:hover {
    /* Color */
    background: #fff;
    border-color: transparent;
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    /* Other */
    transform: translateY(-55px);
}

.feature-list__title {
    margin-top: 20px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.feature-list__desc {
    margin-top: 12px;
    width: 75%;
    color: #7d8188;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* Blog */
.blog {
    margin-top: 185px;
}

.blog__title {
    /* Positioning */
    position: relative;
    /* Box Model */
    margin-left: 46px;
}

.blog__title::before {
    position: absolute;
    top: 8px;
    left: -46px;
    /* Display & Box Model */
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    /* Color */
    background-color: #152427;
}

.blog-row {
    margin-top: 20px;
    justify-content: space-between;
}

.blog__heading {
    /* Positioning */
    position: relative;
    /* Box Model */
    max-width: 520px;
}

.blog__heading::after {
    position: absolute;
    bottom: 20px;
    right: -53px;
    /* Display & Box Model */
    display: inline-block;
    content: "";
    width: 82px;
    height: 3px;
    /* Color */
    background-color: #152427;
}

.blog__desc {
    /* Box Model */
    width: 410px;
    /* Color */
    color: #7d8188;
    /* Text */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625;
}

.blog-list {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 90px;
}

.blog-list__item {
    flex: 0 0 360px;
    max-width: 360px;
    border-radius: 40px 40px 20px 20px;
    /* Color */
    background-color: #fff;
    /* Other */
    transition: 0.3s;
}

.blog-list__item:hover {
    /* Color */
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.blog-list__images {
    display: inline-block;
    width: 100%;
    height: 317px;
    border-radius: 40px 40px 0 0;
    /* Other */
    overflow: hidden;
}

.blog-list__img {
    /* Box Model */
    width: 100%;
    height: 100%;
    /* Other */
    object-fit: cover;
    transition: 0.3s;
}

.blog-list__img:hover {
    /* Other */
    transform: scale(1.2);
}

.blog-list__content {
    /* Box Model */
    padding: 26px 30px 12px;
}

.blog-list__btn {
    font-family: Poppins;
    /* Box Model */
    width: 107px;
    height: 26px;
    border: none;
    border-radius: 20px;
    /* Color */
    background-color: #e2eddf;
    color: #000;
    /* Text */
    font-weight: 500;
    font-size: 1rem;
    /* Other */
    cursor: pointer;
    transition: 0.3s;
}

.blog-list__btn:hover {
    /* Color */
    color: #fff;
    background-color: var(--primary-color);
}

.blog-list__heading {
    /* Box Model */
    margin-top: 13px;
    /* Color */
    color: var(--primary-color);
    /* Text */
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.blog-list__line {
    margin-top: 10px;
    height: 1px;
    background-color: #c4c4c4;
}

.blog-list__item:nth-child(3) .blog-list__line {
    margin-top: 40px;
}

.blog-list__date {
    /* Box Model */
    margin-top: 15px;
    /* Color */
    color: #575d5e;
    /* Text */
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
}

/* Footer */
.footer {
    padding: 72px 0 50px;
    margin-top: 100px;
    /* Color */
    background-color: var(--primary-color);
}

.footer__row {
    display: flex;
    justify-content: space-between;
}
/* Footer Contact */
.footer-contact {
    /* Display */
    flex: 0 0 37%;
    max-width: 37%;
}

.footer-contact__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

/* Footer Form */
.footer-form {
    /* Display & Box Model */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.footer-form__input {
    /* Box Model */
    width: 350px;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-left: 1px solid #6a8383;
    outline: none;
    /* Color */
    color: #fff;
    background-color: transparent;
    /* Text */
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
}

.footer-form__input::placeholder {
    /* Color */
    color: #6a8383;
    /* Text */
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
}

.footer-form__submit {
    /* Box Model */
    border: none;
    /* Color */
    color: #c4c4c4;
    background-color: transparent;
    /* Other */
    cursor: pointer;
}

.footer-form__submit:hover {
    /* Color */
    color: #a75325;
}

.footer-contact__line {
    /* Box Model */
    height: 1px;
    margin-top: 20px;
    /* Color */
    background-color: #6a8383;
}

/* Footer Icon */
.footer-contact__icon {
    /* Display & Box Model */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
}

.footer-contact__social-list {
    /* Display */
    display: flex;
    column-gap: 22px;
    align-items: center;
}

.footer-contact__social-link {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 1px solid;
    border-radius: 50%;
    /* Color */
    border-color: #265252;
    /* Other */
    transition: 0.3s;
}

.footer-contact__social-link:hover {
    /* Color */
    background-color: #a75325;
    border-color: #a75325;
}

.footer-contact__social-logo {
    /* Box Model */
    width: 40%;
    height: 40%;
}

/* Footer Navigation */
.footer-nav {
    /* Display */
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    /* Text */
    font-family: "Public Sans", sans-serif;
}

.footer-nav__heading {
    /* Color */
    color: #fff;
    /* Text */
    font-weight: 500;
    font-size: 1.8rem;
}

.footer-nav__list {
    /* Box Model */
    margin-top: 20px;
}

.footer-nav__link {
    /* Color */
    color: #6a8383;
    /* Text */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
}

.footer__line {
    /* Box Model */
    width: 100%;
    height: 1px;
    margin-top: 45px;
    /* Color */
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer__copyright {
    margin-top: 10px;
    padding: 20px 0;
}

.footer__copyright-text {
    font-size: 1.4rem;
    line-height: 1.8;
    text-align: center;
    color: #6a8383;
}
